*.lprof
*.bench
static/cmp_metrics.js
static/leaflet.label.css
static/leaflet.label.js
timeline_*.json
tweets_*.json
static/apresets.js
static/apresets.json
static/cpresets.js
static/cpresets.json
static/fapresets.js
static/fapresets.json
static/font-awesome.css
static/fonts/*
static/leaflet.awesome-markers.css
static/leaflet.awesome-markers.js
static/presets.json
Leaflet-Fullcanvas/
archive/
ntweets/
static/leaflet.draw*
tml*
*.tsv
*.my
*.zip
WEKA/
bench.sh
bower_components/
datasets/
fpu
impexp.sh
itml/
java
lru_cache_backport.py
mLMNN2.5/
mail.nv
maps/*.json
maps/*.js
maps/leaflet*
medium
t.py
notes/4sq.md
notes/fails*
notes/hours.txt
notes/twitter.md
papers/arno/
scrap.py
top_cats
*.prof*
tSNE_linux
doc/Makefile
doc/source/_static/
doc/source/_templates/
static/colorbrewer.js
static/d3.v3.min.js
static/app.css
static/app.js
static/leaflet.css
static/leaflet.js
static/leaflet-src.js
static/leaflet-src.js.7
static/minified-src.js
static/normalize.css
static/images
Zipfian_project-similarity_between_SF_neighborhoods/
_multivariate.py
app.js
classicthesis/
node_modules/
elki.jar
*.ipynb
bidict.py
papers/mk_summary.sh
raw_categories
classicthesis/*
vizicities
leaflet/*
adv1/*
!adv1/prez.tex
!adv1/slides.tex
!adv1/slides_lefalher.pdf
adv2/*
!adv2/prez.tex
!adv2/slides.tex
!adv2/slides_lefalher.pdf
adv3/*
!adv3/prez.tex
!adv3/slides.tex
!adv3/GeraudLeFalher_ExploringSanFranciscoGeography.pdf
bottle.py
code.html
# ipython log file
*_log.py
diary/aaltologo.sty
diary/current.tex
diary/*.tex
diary/*.md
diary/*.pdf
papers/biblio_thesis.*
disc/*
!disc/all*
!disc/do.sh
!disc/photos.css
!disc/Makefile
papers/*.pdf
freq/
jquery*
nantes/
japng.jar
report/report.bib
report/*.tex
report/*.pdf
topone.js
tag_support.txt
time_entropy.ods
tags
report/*.m
karto/dot*
karto/osmsf
karto/end
karto/metahead

karto/photos.*
*.mat
*.png
*.dat
*.svg
notes/*.pdf
notes/*.tex
api_keys*
*.sh[px]
*.csv
*.dbf
*.cpg
*.prj
kato/*.svg
ipython_log.py

# Created by http://gitignore.io

### Linux ###
.*
!.gitignore
!.git*
*~


### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

*.sty
