adv1/*
!adv1/prez.tex
!adv1/slides.tex
!adv1/slides_lefalher.pdf
adv2/*
!adv2/prez.tex
!adv2/slides.tex
!adv2/slides_lefalher.pdf
adv3/*
!adv3/prez.tex
!adv3/slides.tex
!adv3/GeraudLeFalher_ExploringSanFranciscoGeography.pdf
bottle.py
code.html
# ipython log file
*_log.py
diary/aaltologo.sty
diary/current.tex
diary/*.pdf
disc/*
!disc/all*
!disc/do.sh
!disc/photos.css
!disc/Makefile
papers/*.pdf
freq/
jquery*
nantes/
japng.jar
report/*.tex
report/*.pdf
topone.js
tag_support.txt
time_entropy.ods
tags
report/*.m
karto/dot*
karto/osmsf
karto/end
karto/metahead

karto/photos.*
*.mat
*.png
*.dat
*.svg
notes/*.pdf
notes/*.tex
flickr_keys*
*.sh[px]
*.csv
*.dbf
*.cpg
*.prj
kato/*.svg
ipython_log.py

# Created by http://gitignore.io

### Linux ###
.*
!.gitignore
!.git*
*~


### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

*.sty
