* {
    margin: 0;
    padding: 0
}
html {
    width: 100%;
    height: 100%;
}
.tick {display: none;}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
svg {
    font: 14pt sans-serif;
    /* shape-rendering: crispEdges; */
    position: absolute;
    top: 0;
}

rect {
    fill: #111;
}
.legend text {fill: #eee;}
.dot {
    stroke: none;
}
.circle {border-radius: 3px;}
#info {position: absolute; left: 40%; top: 1.5em; z-index: 500;color:white;width:20%; text-align:center; max-height: 1.2em; height: 1.2em;font: 14pt sans-serif;}
#info span {text-decoration: underline; cursor: pointer;}
