#photos {fill: red; stroke-width: 0;}
#lakes {fill: lightblue;}
#forest {fill: lightgreen;}
#park {fill: lightgreen;}
#urban {fill: white;}
/* "data": [ -122.6, 37.65, -122.3, 37.86 ] */
/* [-122.4, 37.768, -122.38, 37.778] */
