.leaflet-popup-content {text-align: center;}
.leaflet-popup-content form {margin-top: .3em;}
* {margin: 0; padding: 0;}
a {color: #1e90ff; /* Dodger Blue */ }
body {
	background-color: #f9fcf9;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.45;
}
#mapl {top: 0;}
#mapr {top: 50%;}
.map {
    width: 34.85%;
    height: 49.8%;
    border: 1px solid white;
    position: absolute;
    left 0;
}
#info {
	position: absolute;
	left: 35%;
}
table {
	text-align: center;
	vertical-align: middle;
}
table, th, td {
    padding: 0.2em 0.45em;
}
table { border: 1px solid #555;margin-right:0.5em;}
tr {
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
}
td.value {
	border-left: 3px solid #555;
}
path {fill: none;}
.axis { shape-rendering: crispEdges; }
.x.axis line { stroke: lightgrey; }
.x.axis .minor { display: none;stroke-opacity: .5; }
.x.axis path { display: none; }
.y.axis line, .y.axis path { fill: none; stroke: #000; }
div.tooltip {
	position: absolute;
	text-align: center;
	font: 10pt sans-serif;
	padding: 0.6em;
	color: white;
	border: 0px;
	border-radius: 6px;
	pointer-events: none;
	vertical-align: middle;
}
