{% extends "layout.html" %}
{% block body %}
	<title>Show gold</title>
        <link  rel='stylesheet' type='text/css' href="{{ url_for('static', filename='gold.css') }}">
		<script src="http://maps.google.com/maps/api/js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='Google.js') }}"></script>
		<script type="text/javascript">
			var BBOX={{ bbox|safe }};
			var CITY="{{ city|safe }}";
			var DISTRICT="{{district|safe}}";
		</script>
</head>
<body>
	<div id="label"></div>
	<div id="map"></div>
	<script src="{{ url_for('static', filename='common.js') }}"></script>
	<script src="{{ url_for('static', filename='gold.js') }}"></script>
{% endblock %}
