{% extends "layout.html" %}
{% block body %}
	<title>From {{ origin|safe }} to {{ dest|safe }}</title>
    <link  rel='stylesheet' type='text/css' href="{{ url_for('static', filename='font-awesome.css') }}">
    <link  rel='stylesheet' type='text/css' href="{{ url_for('static', filename='nei.css') }}">
    <link  rel='stylesheet' type='text/css' href="{{ url_for('static', filename='leaflet.awesome-markers.css') }}">
	<script src="{{ url_for('static', filename='leaflet.awesome-markers.js') }}"></script>
        <script type="text/javascript">
            var LBBOX={{ lbbox|safe }},
                RBBOX={{ rbbox|safe }},
		origin="{{ origin|safe }}",
		dest="{{ dest|safe }}";
        </script>
</head>
<body>
    <form id="presets">
        <label>Neighborhood:
            <select name="neighborhood" required id="neighborhood" autofocus>
                <option value="triangle" selected="selected">Golden Triangle</option>
                <option value="latin">Quartier Latin</option>
                <option value="montmartre">Montmartre</option>
                <option value="pigalle">Pigalle</option>
                <option value="marais">Le Marais</option>
                <option value="official">Officials</option>
            </select>
        </label>
        <label>Metric:
            <select name="metric" id="metric" required>
                {# <option value="jsd-greedy" selected="selected">JSD (Greedy)</option> #}
                {# <option value="jsd-nospace">JSD (No Space)</option> #}
                <option value="jsd" selected="selected">JSD</option>
                <option value="emd">EMD</option>
            </select>
        </label>
        <label>Candidates:
            <select name="candidates" id="candidates" required>
                <option value="full" selected="selected">Full search</option>
                <option value="knn">kNN</option>
                <option value="dst">metric</option>
            </select>
        </label>
        <label>Clustering:
            <select name="cluster" id="cluster" required>
                <option value="dbscan" selected="selected">DBSCAN</option>
                <option value="discrepancy">Discrepancy</option>
            </select>
        </label>
        <button>Match!</button>
        <span id="orig-venues"></span>
    </form>
        <button id="switch" type="button">Switch!</button>
    <div id="result">
    <span id="res"></span>
    <progress id="status" value="0.0"></progress>
</div>
	<div id="mapl" class="map"></div>
	<div id="mapr" class="map"></div>
	<div id="log"></div>
	<script src="{{ url_for('static', filename='cpresets.js') }}"></script>
	<script src="{{ url_for('static', filename='common.js') }}"></script>
	<script src="{{ url_for('static', filename='nei.js') }}"></script>
{% endblock %}
